body {
  background: #5bc254;
}

.main {
  width: 70%; /* Ширина элемента в пикселах */
  padding: 10px; /* Поля вокруг текста */
  margin: auto; /* Выравниваем по центру */
}

h1 {
  margin: 20px, 0px, 10px, 0px;
  width: 700;
  font-family: "Roboto", sans-serif;
}
p {
  margin: 50em, 0px, 20px, 0px;
}
